//Clearfix 

@mixin clearfix {

  *zoom: 1;

	&:before, &:after {

    display: table;
    content: "";
    line-height: 0;
	}

	&:after {
		
		clear: both;
	}
}

// ===================================================================
// Включение градиента на
// весь проект

@mixin one-way-gradient($way, $color) {

  @if $gradient == true {

    background: lighten($color, 10%);
    background: linear-gradient($way, $color, lighten($color, 10%));

  } @else if $gradient == false {
    
    background: $color;
  }
}

// ===================================================================
// Позиция иконки в меню
// в зависимости от размера
// шрифта иконки

@mixin icoVPosition($size) {

  top: 50%;
  margin-top: - $size / 2;
}

// ===================================================================
// Media Queries

$mobile: 480px;
$portrait: 768px;
$landscape: 1024px;
$screen: 1224px;

@mixin media-size($media) {

	@if $media == mobile {
  	
  	@media only screen and (max-device-width: $mobile) { 

  		@content; 
  	}
	}

	@else if $media == portrait {
  
  	@media only screen and (min-device-width: $mobile) and (max-device-width: $portrait) and (orientation : portrait) { 

  		@content; 
  	}
	}

	@else if $media == landscape {
  
  	@media only screen and (min-device-width: $portrait) and (max-device-width: $landscape) and (orientation : landscape) { 

  		@content; 
  	}
	}

	@else if $media == monitor {
  
  	@media only screen and (min-width: $screen) { 

  		@content; 
  	}
	}
}

@mixin pixel-size($pixel) {

  @media only screen and (-webkit-min-device-pixel-ratio : $pixel), only screen and (min-device-pixel-ratio : $pixel) {

    @content;
  }
}